/*
  Специально для тёмной темы при наличии класса,
  здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

:root.theme-dark {
    /* сохраните этот селектор в приведённом виде.
    Так стили написанные ниже будут иметь больший вес,
    чем стили в медиазапросе предпочтений пользователя
  */
    --accent-color: #ff0070;
    --bg-color: #000028;
    --text-color: #f1b2ce;

    --bg-url: url("../images/cover-image-dark.png");

    --hover-outline-color: rgba(255, 0, 112, 0.4);
    --default-outline-color: var(--accent-color);
}

.theme-dark .page {
    /* Вам также нужно будет написать ряд подобных селекторов */
    /*background: black;*/
}

.theme-dark .title-decor {
    color: var(--bg-color);
}

.theme-dark .section__title {
    color: var(--accent-color);
}

.theme-dark .header__rec::before {
    content: "REC";
}

.theme-dark .header__rec::after {
    content: "";
    display: inline-block;
}

.theme-dark .decorated-zone::after {
    border-color: var(--accent-color);
}

.theme-dark .decorated-zone::before {
    border-color: var(--accent-color);
}
