/*
  Специально для тёмной темы при наличии класса,
  здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

:root.theme-dark {
  /* Слой 1: Базовые значения для тёмной темы */
  --accent-color: #ff0070;
  --bg-color: #000028;
  --text-color: #f1b2ce;
  --title-color: #db00ff;
  --bg-url: url("../images/cover-image-dark.png");
  --hover-outline-color: rgba(255, 0, 112, 0.4);
  --default-outline-color: var(--accent-color);

  /* Слой 2: Семантическое назначение для тёмной темы */
  --decorated-title-text-color: var(--bg-color);
  --section-title-color: var(--accent-color);
  --rec-display: block;
}