/*
  Специально для светлой темы при наличии класса.
  Здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

:root.theme-light {
  /* Слой 1: Базовые значения для светлой темы */
  --accent-color: #ff8dcb;
  --bg-color: #fff1f7;
  --text-color: #353430;
  --title-color: #ffc2e6;
  --bg-url: url("../images/cover-image-light.png");
  --hover-outline-color: rgba(50, 49, 45, 0.4);
  --default-outline-color: var(--text-color);

  /* Слой 2: Семантическое назначение для светлой темы */
  --decorated-title-text-color: var(--text-color);
  --section-title-color: var(--text-color);
  --rec-display: none;
}

@media (prefers-color-scheme: light) {
  :root:not(.theme-dark) {
    /* Слой 1: Базовые значения для светлой темы */
    --accent-color: #ff8dcb;
    --bg-color: #fff1f7;
    --text-color: #353430;
    --title-color: #ffc2e6;
    --bg-url: url("../images/cover-image-light.png");
    --hover-outline-color: rgba(50, 49, 45, 0.4);
    --default-outline-color: var(--text-color);

    /* Слой 2: Семантическое назначение для светлой темы */
    --decorated-title-text-color: var(--text-color);
    --section-title-color: var(--text-color);
    --rec-display: none;
  }
}