/* Основные стили проекта. Это стили для темы, которую вы верстаете первой. */

.page {
  position: relative;
  background-image: var(--bg-url);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  padding: 0 10px;
  /* сохраните в разметке и стилях класс page у тега body. Он удобен, чтобы составлять селекторы для разных цветовых тем. */
}

.decorated-zone {
  position: relative;
  height: 100vh;
  min-height: 667px;
}

decorated-zone::after {
  content: "";
  position: absolute;
  top: 10px;
  right: 0;
  width: 25px;
  height: 25px;
  border-style: solid;
  border-color: var(--accent-color);
  border-width: 1px 1px 0 0;
}

.decorated-zone::before {
  content: "";
  position: absolute;
  bottom: 10px;
  left: 0;
  width: 25px;
  height: 25px;
  border-style: solid;
  border-color: var(--accent-color);
  border-width: 0 0 1px 1px;
}

.header__rec {
  position: absolute;
  display: inline-flex;
  align-items: center;
  gap: 10px;
  text-transform: uppercase;
  font-size: 18px;
  top: 10px;
  right: 0px;
  /*right: 10%;*/
}

.header__rec::before {
  content: "REC";
}

.header__rec::after {
  content: "";
  display: inline-block;

  width: 10px;
  height: 10px;
  background: var(--accent-color);
  border-radius: 50%;
  margin-inline-end: 7.5px;

  filter: drop-shadow(0px 0px 5px var(--accent-color));
}

.header__theme-menu-list {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.header__theme-menu-button {
  background: transparent;
  border: none;
  text-transform: lowercase;
  padding: 0 13px;
  cursor: pointer;
  font-size: 18px;
  line-height: 1.445;
}

.header__theme-menu-button:focus {
  outline: none;
}

.header__theme-menu-button:focus-visible {
  border-bottom: 1px solid var(--default-outline-color);
}

.header__theme-menu-button:hover {
  outline: 1px solid var(--hover-outline-color);
  /*opacity: 0.5;*/
}

.header__theme-menu-button_active {
  outline: 1px solid var(--default-outline-color);
}

.footer h2,
.header h1 {
  font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  color: #db00ff;
  line-height: 0.825;
}

.header h1 {
  text-shadow: 4px 4px 0 var(--accent-color);
}

.footer h2 {
  text-shadow: 2px 2px 0 var(--accent-color);
}

.header__title {
    display: grid;

  padding-block-start: 65px;
  grid-template-columns: 1fr 1fr;
}

.header__title-name {
  grid-row: 1;
  grid-column: 1 / 3;
}

.header__title-description {
  grid-row: 2;
  grid-column: 1 / 3;
}

.title-decor {
  background-color: var(--accent-color);
  color: var(--bg-color);
  font-weight: bold;
  font-size: 18px;
  line-height: 23.4px;
  word-wrap: break-word;
}
