/* Основные стили проекта. Это стили для темы, которую вы верстаете первой. */

/* Общие стили */
.page {
    position: relative;
    background-image: var(--bg-url);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-color: var(--bg-color);
}

.wrapper {
    margin: 0 auto;
    padding: 0 10px;
}

.decorated-zone {
    position: relative;
    height: 100vh;
    min-height: 667px;
}

.decorated-zone::before {
    content: "";
    position: absolute;
    bottom: 10px;
    left: 0;
    width: 25px;
    height: 25px;
    border-style: solid;
    border-color: var(--section-title-color);
    border-width: 0 0 1px 1px;
    /*box-sizing: content-box;*/
}

.decorated-zone::after {
    content: "";
    position: absolute;
    top: 10px;
    right: 0;
    width: 25px;
    height: 25px;
    /*box-shadow:
        0 -1px 0 0 var(--accent-color),
        1px 0 0 0 var(--accent-color);*/
    border-style: solid;
    border-color: var(--section-title-color);
    border-width: 1px 1px 0 0;
}

/* Header */
.header {
    color: var(--accent-color);
    display: grid;
    grid-template-rows: auto 1fr 1fr;
    gap: 65px;
}

.header__rec {
    position: absolute;
    top: 10px;
    right: 0px;
    font-size: 18px;
    margin-inline-end: 9px;
    display: var(--rec-display);
}

.header__rec::before {
    content: "REC";
    line-height: 25px;
    font-size: 18px;
}

.header__rec::after {
    content: "";
    display: inline-block;
    vertical-align: middle;
    line-height: 25px;

    width: 9px;
    height: 9px;
    background: var(--accent-color);
    /* border: none; */
    border-radius: 50%;
    margin-inline-start: 10px;
    box-shadow: 0px 0px 4px 2px var(--accent-color);
}

.header__theme-menu {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    padding-block-start: 75px;
    grid-row: 1;
    align-self: start;
}

.header__theme-menu-list {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.header__theme-menu-button {
    background: transparent;
    border: none;
    text-transform: lowercase;
    padding: 0 13px;
    cursor: pointer;
    font-size: 18px;
    line-height: 1.17;
    padding-bottom: 5px;
}

.header__theme-menu-button:focus {
    outline: none;
}

.header__theme-menu-button:focus-visible {
    border-bottom: 1px solid var(--default-outline-color);
}

.header__theme-menu-button:hover {
    outline: 1px solid var(--hover-outline-color);
}

.header__theme-menu-button_active {
    outline: 1px solid var(--default-outline-color);
}

.header__title {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.header__title-name {
    grid-row: 1;
    grid-column: 1 / 3;
}

.header__title-description {
    grid-row: 2;
    grid-column: 1 / 3;
    word-wrap: break-word;
    align-self: start;
    line-height: 23.4px;
    margin-block-start: 54px;
}

.footer h2,
.header h1 {
    font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
    color: var(--title-color);
    line-height: 0.83;
}

.header h1 {
    /*padding-block-start: 65px;*/
    text-shadow: 4px 4px 0 var(--accent-color);
}

.footer h2 {
    text-shadow: 2px 2px 0 var(--accent-color);
}

/* Main content */
.main {
    padding-block-start: 9px;
}

.main__section {
    display: grid;
    margin-block-start: 30px;
}

.main__section.main__section-third {
    margin-block-start: 29px;
}

.main__section-gallery {
    margin-block-start: 30px;
    margin-block-end: 40px;
}

.section__title {
    color: var(--section-title-color);
    line-height: 23.4px;
    margin-block-end: 21px;
}

.section__container-third h4 {
    margin-block-end: 20px;
}

.section__container-third h5 {
    font-weight: 400;
}

.title-decor {
    background-color: var(--accent-color);
    color: var(--decorated-title-text-color);
    font-weight: bold;
    font-size: 18px;
    word-wrap: break-word;
}

.item__title {
    line-height: 23px;
}

.section__container-third .item__title {
    line-height: 23.4px;
}

.item__description {
    line-height: 23.4px;
    margin-block-start: 10px;
    margin-block-end: 20px;
    color: var(--text-color);
}

.link {
    text-decoration: none;
    text-shadow: 2px 2px 0 var(--accent-color);
}

.link:focus {
    outline: none;
}

.link:focus-visible {
    outline: 1px solid var(--text-color);
}

.link:hover {
    border-bottom: 1px solid var(--text-color);
}

/* Gallery */
.gallery-container {
    display: grid;
    gap: 10px;
    grid-template-columns: 1fr;
    padding-block-start: 10px;
}

.gallery-container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center center;
}

/* Footer */
.footer {
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* ================== Медиа-запросы ================== */

/* Tablet (768px и выше) */
@media (width >=768px) {
    .wrapper {
        padding: 0 20px;
    }

    .decorated-zone::before {
        bottom: 20px;
    }

    .decorated-zone::after {
        top: 20px;
    }

    .header__rec {
        top: 20px;
    }

    .header__theme-menu {
        padding-block-start: 192px;
    }

    .header__title h1 {
        font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
    }

    .header__title {
        padding-block-start: 109px;
    }

    .header__title-name {
        margin-inline-start: -20px;
    }

    .header__title-description {
        grid-column: 2;
        margin-block-start: 160px;
    }

    .main__section {
        grid-template-columns: repeat(3, 1fr);
        gap: 35px;
        /*margin-block-start: 62px;*/
    }

    .main__section.main__section-first {
        margin-block-start: 51px;
    }

    .main__section.main__section-second {
        margin-block-start: 61px;
        gap: 0px;
    }

    .main__section.main__section-third {
        margin-block-start: 61px;
        gap: 15px;
    }

    .section__title {
        grid-column: 1 / 2;
        margin-block-end: 21px;
    }

    .section__title.section__title-second {
        margin-block-end: 20px;
        max-width: 140px;
    }

    .section__title.section__title-third {
        margin-inline-end: 0px;
        min-width: 240px;
        /*word-break: ;*/
    }

    .section__container {
        grid-column: 2 / 4;
    }

    .section__container.section__container-second {
        grid-column: 1 / 4;
        /* margin-block-end: 20px; */
    }

    .main__section-gallery {
        margin-block-start: 60px;
    }

    .gallery-container {
        grid-template-columns: repeat(3, 1fr);
        padding-block-start: 20px;
        gap: 20px;
    }

    .gallery__image:nth-child(1) {
        grid-column: 1 / 3;
        grid-row: 1;
    }

    .gallery__image:nth-child(2) {
        grid-column: 3 / 4;
        grid-row: 1 / 3;
    }

    .gallery__image:nth-child(3) {
        grid-column: 1 / 2;
        grid-row: 2 / 4;
    }

    .gallery__image:nth-child(4) {
        grid-column: 2 / 3;
        grid-row: 2 / 3;
    }

    .gallery__image:nth-child(5) {
        grid-column: 2 / 4;
        grid-row: 3;
    }

    .footer {
        margin-block-start: 60px;
    }
}

/* Desktop (1024px и выше) */
@media (width >= 1024px) {
    .header__theme-menu {
        justify-content: center;
        align-items: top;
        padding-block-start: 20px;
    }

    .header__theme-menu-list {
        flex-direction: row;
    }

    .header__title {
        padding-block-start: 209px;
    }

    .header__title-description {
        margin-block-start: 112px;
    }

    .main__section.main__section-first {
        gap: 20px;
    }

    .main__section.main__section-third {
        margin-block-start: 60px;
        gap: 20px;
    }

    .section__title.section__title-second {
        /*margin-block-end: 20px;*/
        max-width: 100%;
    }

    /*.main__section.main__section-second {
        margin-block-start: 61px;
    }*/

    .section__container-second {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 20px;
    }

    .section__container-item {
        grid-row: 1;
    }

    .footer h2 {
        font-size: 157px;
    }
}