:root {
    --accent-color: #ff0070;
    --bg-color: #000028;
    --text-color: #f1b2ce;

    --title-color: #db00ff;

    --bg-url: url("../images/cover-image-dark.png");

    --hover-outline-color: rgba(255, 0, 112, 0.4);
    --default-outline-color: var(--accent-color);

    /* Слой 2: Семантическое назначение для тёмной темы */
    --decorated-title-text-color: var(--bg-color);
    --section-title-color: var(--accent-color);
    --rec-display: block;
}